@import 'colors';
@import 'typography';
@import 'util';

/* ### DEMO
  section{
    background: rgba($green, 0.2)
    @include span(yellow)
  }





*/


html, body {
  margin: 20px;
  background: #f7f7f7;
}

.left, .right {
  float: left;
  width: 40%;
  display: inline;
  margin: 0 20px;
}


input, textarea{
display: block;
width: 100%;
outline: none;
resize: none;

}
textarea{
height: 200px;
}
