<br>
EDIT IN THE POST FOLDER <br>
<br><br>
<div>
  {{input placeholder="Add a title!" value=title }}
  {{textarea placeholder="Write a note!" value=body }}
</div>
<br>
<button {{action 'editPosts'}}>Save</button>
